@model IEnumerable<NerdDinner.Models.Dinner>
@{
    ViewBag.Title = "Nerd Dinner";
}

<h1>Upcoming Dinners</h1>

<ul>
    @foreach (var d in Model)
    {
        <li>
            @d.Title (@d.EventDate)
        </li>
    }
</ul>

<p>
    @Html.ActionLink("Create New Dinner", "Create")
</p>